@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
         url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
         url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
         url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
         url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-heart:before {
    content: "\f004";
}
.fa-heart-o:before {
    content: "\f08a";
}
.fa-star:before {
    content: "\f005";
}
.fa-plus-circle:before {
    content: "\f055";
}
.fa-minus-circle:before {
    content: "\f056";
}
.fa-cc:before {
    content: "\f20a";
}
.fa-file-text-o:before {
    content: "\f0f6";
}
.fa-chevron-circle-left:before {
    content: "\f137";
}
.fa-chevron-circle-down:before {
    content: "\f13a";
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    color: #111;
    font-size: 1.8rem;
    background-color: #fff;
    font-family: "ff-tisa-web-pro", "Open Sans", sans-serif;
    margin: 0;
}
h2, h4 {
    font-family: "ff-tisa-sans-web-pro", "Open Sans", sans-serif;
}
.container {
    position: relative;
    background: #fff;
    max-width: 1140px;
    margin: 2rem auto;
    padding-left: 18rem;
    padding-right: 2rem;
}
a {
    color: #184774;
}

header, footer {
    line-height: 1.4em;
    font-family: "sofia-pro", "Open Sans", sans-serif;
}
header .container {
    margin: 0 auto;
    padding-left: 0rem;
    padding-right: 2rem;
}

header #corner-logo {
    position: absolute;
    z-index: 100;
    margin: 0 0 -150px 0;
}
header #corner-logo img {
    width: 240px;
}
header nav {
    background-color: #fff;
}
header nav ul {
    margin: 0 0 0 120px;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
    font-size: .95em;
}
header nav li {
    list-style: none;
    padding-left: 0;
}
header nav li a {
    display: block;
    padding: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
}
header nav a:hover {
    text-decoration: underline;
}
#header-callout {
    background-color: #232D44;
    color: #fff;
    text-align: center;
    line-height: 1;
    font-size: 1.4em;
}
#header-callout span {
    padding: .5em 0;
    padding-left: 1.5em;
    display: inline-block;
}
#header-callout .button {
    margin: .5em 0 .5em 1em;
}

#controls {
    clear: both;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 0;
}

input {
    font-size: 1.8rem;
    padding: 5px;
}

header a {
    white-space: nowrap;
}

p.meta {
    text-align: center;
    margin: 0 0 2.5rem -11rem;
}

.btn {
    display: inline-block;
    background: #CF455D;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background: #CF455D;
}

#schedule {
    margin: 5rem 0 10rem 0;
}
#schedule-controls {
    clear: both;
    margin: 0 0 5.5rem -11rem;
    font-family: "Open Sans", sans-serif;
}

#schedule-controls ul {
    font-size: 1.5rem;
    margin: 3rem auto;
    padding: 0;
    list-style: none;
    width: 50%;
}

#schedule-controls li {
    display: inline-block;
}
#schedule-controls li:first-child a {
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
#schedule-controls li:last-child a {
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}
#schedule-controls a {
    text-align: center;
    display: block;
    padding: .83rem 0 1rem;
    color: LightSlateGray;
    background-color: WhiteSmoke;
    text-decoration: none;
    border-right: 1px solid Gainsboro;
}
#schedule-controls a.active {
    color: #000;
    font-weight: bold;
    background-color: Silver;
}

.schedule-tab,
.page-block {
    margin: 0 0 3.5rem;
}

.schedule-tab h3 {
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid Gainsboro;
    margin: 2rem 2rem 2rem 0;
    z-index: 1;
    clear: both;
}
.schedule-tab h3 span {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    font-size: 1.5rem;
    margin-top: -1.2rem;
    padding-right: 2rem;
    float: left;
    width: 20rem;
    margin-left: -20rem;
    text-align: right;
}
.slider {
    overflow-y: hidden;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.schedule-tab h3 .fa {
    text-decoration: none;
    float: right;
    font-size: 2.5rem;
    padding-left: .83rem;
    background-color: #fff;
    color: #C9CCCC;
    position: absolute;
    right: 0;
    top: -1.2rem;
}
h3.slider-control {
    cursor: pointer;
}

#session-detail-wrapper {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.session-detail {
    position: relative;
}
.session-detail h3 {
    margin-top: 2em;
}
.session-detail li {
    margin-bottom: .5em;
}

.session-list-item,
.open-block,
.tag-list-item {
    display: block;
    clear: both;
    position: relative;
    cursor: pointer;
    padding: 1.4rem 4.5rem 4.5rem 1.8rem;
    margin: 0 2% 2rem 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.session-list-item,
.tag-list-item {
    color: #111;
    text-decoration: none;
}

.session-list-item h4,
.category-list-item h4,
.tag-list-item h4 {
    margin: 0 0 .9rem;
    line-height: 1.5;
}

.session-list-item p {
    font-size: 1.6rem;
    margin: 0;
    position: absolute;
    bottom: 1.5rem;
}

.all-sessions .session-list-item {
    padding: 1rem 4rem 1.5rem 0;
    background-color: #fff;
    border-bottom: 1px solid Gainsboro;
}

.all-sessions .session-list-item p {
    position: relative;
    margin: 0 0 1rem;
    bottom: auto;
}

.all-sessions .session-description {
    word-wrap: break-word;
}

#show-descriptions {
    font-size: 1.5rem;
    padding: 4.5rem 0 0;
    display: block;
    text-decoration: none;
    color: #111;
    margin-right: 2%;
    float: right;
}
#show-descriptions i {
    color: #fc6e1f;
}

#filter-form {
    font-size: 1.5rem;
    margin: 1rem 0 3.5rem;
    padding: 0;
    width: 50%;
    float: left;
}

#filter-form input {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    margin-top: .5rem;
}
#no-results {
}

.session-description ul {
}

.favorite {
    color: #fff;
    font-size: 2.3rem;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    line-height: 1;
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem 0 0 0.4rem;
    text-align: center;
    text-shadow:
     -1px -1px 1px rgba(0, 0, 0, 0.1),
      1px -1px 1px rgba(0, 0, 0, 0.1),
      -1px 1px 1px rgba(0, 0, 0, 0.1),
       1px 1px 1px rgba(0, 0, 0, 0.1);
}

.session-detail .favorite,
.all-sessions .favorite {
    line-height: 1;
    /*background-color: #ffd0b6;*/
    width: 3.3rem;
    height: 3.2rem;
    padding: .5rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:
     -1px -1px 1px rgba(0, 0, 0, 0.33),
      1px -1px 1px rgba(0, 0, 0, 0.33),
      -1px 1px 1px rgba(0, 0, 0, 0.33),
       1px 1px 1px rgba(0, 0, 0, 0.33);
}

.favorite-active {
    color: #fc6e1f;
}

.session-detail .favorite-active,
.all-sessions .favorite-active {
    text-shadow:
     -1px -1px 1px rgba(0, 0, 0, 0.1),
      1px -1px 1px rgba(0, 0, 0, 0.1),
      -1px 1px 1px rgba(0, 0, 0, 0.1),
       1px 1px 1px rgba(0, 0, 0, 0.1);
}

.session-length-short {
    background-color: PapayaWhip;
}

.favorites .session-length-short,
.all-sessions .session-length-short {
    float: none;
    clear: both;
    width: auto;
    min-height: 0;
}

.session-length-long {
    background-color: PowderBlue;
}

.session-everyone,
.open-block {
    background-color: WhiteSmoke;
}

.session-ghost {
    opacity: .4;
}

.open-block {
    cursor: default;
    pointer-events: none;
    text-align: center;
    padding-top: 2.5em;
    color: Silver;
}

.overline {
    clear: both;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.overline a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #ccc;
}
.overline a:hover {
    border-color: inherit;
}

.session-time {
    margin-right: 1em;
}
.session-transcription {
    margin-left: 1em;
    opacity: .9;
}

#show-full-schedule {
    display: block;
    font-size: 1.8rem;*/
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

.clearfix:before,
.clearfix:after,
.page-block:before,
.page-block:after {
    content: " ";
    display: table;
}
.clearfix:after,
.page-block:after {
    clear: both;
}
.clearfix,
.page-block {
    *zoom: 1;
}

.loading span {
    animation-name: pulse;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    font-size: 150%;
}
.loading span:nth-child(2) {
    animation-delay: .2s;
}
.loading span:nth-child(3) {
    animation-delay: .4s;
}
@keyframes pulse {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

@media screen and (max-width: 1020px) {
    header #corner-logo img {
        width: 180px;
        margin-left: 1em;
    }
}

@media only screen and (max-width: 940px) {
    #schedule-controls ul {
        float: none;
        padding-right: 2.5rem;
        margin: 4.5rem 0 0;
        width: 100%;
    }
    #schedule-controls a {
        padding: 1rem 0;
    }
    header #corner-logo img {
        width: 150px;
    }
}

@media only screen and (min-width: 900px) {
    .session-length-short {
        float: left;
        clear: none;
        width: 48%;
        min-height: 110px;
    }
    .session-length-short:nth-child(2n+1) {
        clear: left;
    }
}

@media only screen and (max-width: 767px) {
    .schedule-tab h3 span {
        width: auto;
        margin-left: 0;
        text-align: left;
    }
    .container {
        padding: 0;
        margin: 3.5rem 2rem;
    }
    .schedule-tab h3,
    .session-list-item {
        margin-right: 0;
    }
    p.meta {
        width: 100%;
        margin: 0 0 2.5rem 0;
    }
    #schedule-controls {
        width: 100%;
        margin: 0 0 5.5rem 0;
    }
    #schedule-controls ul {
        padding-right: 0;
    }
    #filter-form {
        width: 100%;
        margin-bottom: 2rem;
    }
    #show-descriptions {
        display: inline-block;
        padding: 0;
        margin: 0 0 3.5rem 0;
    }
    #headbox {
        right: auto;
        width: 100%;
        margin: 2rem;
        font-size: 2rem;
    }
    header #corner-logo img {
        width: 120px;
    }
    #header-callout {
        font-size: 1em;
    }
    header nav ul {
        font-size: .8em;
    }
}

@media only screen and (max-width: 640px) {
    #header-callout {
        padding-left: 140px;
        padding-right: 20px;
    }
    header #corner-logo img {
        width: 110px;
    }
}

@media only screen and (max-width: 540px) {
    .session-detail .session-room {
        display: block;
        margin-top: 2rem;
    }
    p.meta {
        font-size: 1.5rem;
    }
    header nav ul {
        align-items: center;
        padding: 0 1em;
        margin: 0;
    }
}

@media only screen and (max-width: 540px) {
    header #corner-logo img {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 480px) {
    #schedule-controls ul {
        margin: 3.5rem 0 0;
    }
    #page-links a {
        margin-left: .5rem;
    }
    p.meta {
        font-size: 1.3rem;
    }
    header #corner-logo img {
        margin-top: 30px;
    }
    #header-callout {
        clear: both;
        line-height: 1.3;
    }
    header nav ul {
        font-size: .7em;
    }
    header #corner-logo img {
        width: 120px;
    }
}

@media only screen and (max-width: 420px) {
    #schedule-controls ul {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 385px) {
    #schedule-controls ul {
        font-size: 1rem;
    }
    header #corner-logo img {
        margin-top: 42px;
    }
}
