<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SRCCON 2019 Schedule</title>
        <meta name="description" content="Session schedule for SRCCON 2019, July 11 & 12 in Minneapolis.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://use.typekit.net/clq2rji.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        <link rel="stylesheet" href="css/schedule.css">
        <link rel="shortcut icon" href="img/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" type="image/png" href="img/touch-icon-144x144.png" sizes="144x144" />
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51039715-2', 'auto');
          ga('send', 'pageview');
        </script>
        <script src="js/modernizr.js"></script>
    </head>
    <body>
        <header>
            <nav id="header-nav">
                <div class="container">
                    <a href="https://srccon.org" id="corner-logo"><img src="img/srccon_logo_angle_512.png"></a>
                    <ul class="site-nav-links">
                        <li><a href="https://srccon.org/program">Program</a></li>
                        <li><a href="https://srccon.org/participation">Participation</a></li>
                        <li><a href="https://srccon.org/logistics">Logistics</a></li>
                    </ul>
                </div>
            </nav>        
            <div id="header-callout">
                <div class="page-container">
                    <span>SRCCON&nbsp;2019 &bull; July&nbsp;11&nbsp;&&nbsp;12 in&nbsp;Minneapolis</span>
                </div>
            </div>
        </header>
        
        <div id="controls" class="container">
            <div id="schedule-controls"></div>
            <article id="schedule"></article>
        </div>


        <script type="text/template" id="session-list-template">
        <div id="thursday" class="schedule-tab">
            <h3><span>Thursday 8:30 AM</span></h3>
            <div id="thursday-morning" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thursday 10 AM</span></h3>
            <div id="thursday-am-1" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thursday 11:45 AM</span></h3>
            <div id="thursday-am-2" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thursday 1 PM</span></h3>
            <div id="thursday-lunch" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thursday 2:30 PM</span></h3>
            <div id="thursday-pm-1" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thursday 4:30 PM</span></h3>
            <div id="thursday-pm-2" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thursday 5:45 PM</span></h3>
            <div id="thursday-evening" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thursday 6:45 PM</span></h3>
            <div id="thursday-evening-1" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thursday 7:45 PM</span></h3>
            <div id="thursday-evening-2" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Thursday 8:45 PM</span></h3>
            <div id="thursday-evening-3" class="page-block"><div class="open-block">OPEN</div></div>
        </div>
        
        <div id="friday" class="schedule-tab">
            <h3><span>Friday 9 AM</span></h3>
            <div id="friday-morning" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Friday 10 AM</span></h3>
            <div id="friday-am-1" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Friday 11:45 AM</span></h3>
            <div id="friday-am-2" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Friday 1 PM</span></h3>
            <div id="friday-lunch" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Friday 2:30 PM</span></h3>
            <div id="friday-pm-1" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Friday 4:15 PM</span></h3>
            <div id="friday-pm-2" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Friday 5:30 PM</span></h3>
            <div id="friday-evening" class="page-block"><div class="open-block">OPEN</div></div>
        </div>
        </script>

        <script type="text/template" id="session-card-template">
        <a href="#_session-<%= sessionID %>" id="session-<%= sessionID %>" class="session-list-item session-<%= sessionClass %>" data-session="<%= sessionID.replace('-ghost','') %>">
            <h4><%= smartypants(session.title) %></h3>
            <% if (showFacilitators) { %><p class="session-facilitators"><%= smartypants(session.facilitators) %></p><% } %>
            <p>
                <span class="session-time"><% if (showDay) { %><%= session.day %>, <% } %><%= session.time %></span>
                <span class="session-room"><%= smartypants(session.room) %></span>
                <% if (session.transcription) { %><span class="session-transcription"><i class="fa fa-cc"></i></span><% } %>
            </p>
        </a>
        </script>

        <script type="text/template" id="session-list-item-template">
        <a href="#_session-<%= sessionID %>" id="session-<%= sessionID %>" class="session-list-item" data-session="<%= sessionID.replace('-ghost','') %>">
            <h4><%= smartypants(session.title) %></h3>
            <% if (showFacilitators) { %><p class="session-facilitators"><%= smartypants(session.facilitators) %></p><% } %>
            <% if (session.day || session.time || session.room) { %>
            <p>
                <span class="session-time"><% if (showDay && session.day) { %><%= session.day %>, <% } %><%= session.time %></span>
                <span class="session-room"><%= smartypants(session.room) %></span>
                <% if (session.transcription) { %><span class="session-transcription"><i class="fa fa-cc"></i></span><% } %>
            </p>
            <% } %>
            <div class="hidden session-description"><% if (session.description) { %><%= marked(session.description.replace('http://','').replace('https://','')) %><% } %></div>
        </a>
        </script>

        <script type="text/template" id="session-detail-template">
        <div id="session-detail-wrapper">
            <div class="container">
                <article id="schedule">
                    <div id="session-detail-<%= session.id %>" class="session-detail" data-session="<%= session.id %>">
                        <a id="show-full-schedule" href="/">&larr; Back to full schedule</a>
                        <h2><%= smartypants(session.title) %></h2>
                        <% if (session.facilitators) { %><p class="session-facilitators"><strong>Session facilitator(s):</strong> <%= smartypants(session.facilitators) %></p><% } %>
                        <% if (session.day || session.time || session.room) { %>
                        <p>
                            <span class="session-time"><strong>Day & Time:</strong> <% if (session.day) { %><%= session.day %>, <% } %><%= session.time %></span>
                            <% if (session.room) { %><span class="session-room"><strong>Room:</strong> <%= smartypants(session.room) %></span><% } %>
                        </p>
                        <% } %>
                        <% if (session.transcription) { %><p><i class="fa fa-cc"></i> <strong><a href="https://srccon.org/transcripts/SRCCON2018-<%= session.id %>">Live transcript of this session</a></strong></p><% } %>
                        <% if (session.notepad) { %><p><i class="fa fa-file-text-o"></i> <strong><a href="https://etherpad.opennews.org/p/SRCCON2018-<%= session.id %>">Session notes & resources</a></strong></p><% } %>
                        <% if (session.description) { %><%= marked(session.description) %><% } %>

                        <% if (session.twitter) { %>
                            <div id="tweet-container"></div>
                            <% _.each(session.twitter, function(tweet) { %>
                                <%= embedTweet(tweet) %>
                            <% }); %>
                        <% } %>
                    </div>
                </article>
            </div>
        </div>
        </script>
        
        <script src="js/jquery-2.1.0.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/marked.min.js"></script>
        <script src="js/schedule.js"></script>
        <script>window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
 
          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };
 
          return t;
        }(document, "script", "twitter-wjs"));</script>
        <script>
            var config = {
                pathToSessionsJson: 'sessions.json',
                localStoragePrefix: 'srccon-2019',
                tabList: [
                    { name: 'Thursday', displayName: 'Thu', tabDate: new Date(2019,6,11) },
                    { name: 'Friday', displayName: 'Fri', tabDate: new Date(2019,6,12) },
                    { name: 'All', displayName: '<i class="fa fa-search"></i>' }
                ]
            }
            // fire up the app
            new Schedule(config);
        </script>
    </body>
</html>
